model/
outputs/
notebooks/
wandb/
.DS_Store
.venv/
.cache/
.vscode/

wandb/

*.log
*.out
__pycache__
cache*

lora-finetuned/
__init__.py
test*.json
finetune_*.sh
lora_merged_model/
simple_inference.ipynb
eda.ipynb
config*.yaml
merge_lora*.sh