.DS_Store
.venv/
.cache/
.vscode/

*.log
*.out
*.csv

__pycache__
cache*

model/
lora-finetuned/
lora_merged_model/
configs/
outputs/
output_logs/
wandb/
notebooks/
node_modules/

__init__.py
test*.json
*prompt*.txt
eda.ipynb
simple_inference.ipynb
langchain_inference_*.ipynb
inference_*.py
generation.py
config*.yaml
generate*.sh
test*.sh
train_nohup_*.sh
finetune_*.sh
merge_lora*.sh
.env