.DS_Store
.venv/
.cache/
.vscode/

*.log
*.out

__pycache__
cache*

model/
lora-finetuned/
lora_merged_model/
configs/
outputs/
output_logs/
wandb/
notebooks/

__init__.py
test*.json
eda.ipynb
simple_inference.ipynb
inference_*.py
config*.yaml
train_nohup_*.sh
finetune_*.sh
merge_lora*.sh